<div style="display: flex;">
  <table>
    <tr>
      <td>Stack</td>
    </tr>
    <tr style="border-top: 2px dashed;">
      <td style="height:60px;">
        <div style="text-align: center; margin-top: -10px;">&darr;</div>
        <br><br>
        <div style="text-align: center; margin-bottom: -10px;">&uarr;</div>
      </td>
    </tr>
    <tr style="border-top: 2px dashed;">
      <td>Heap</td>
    </tr>
    <tr>
      <td>Static Data</td>
    </tr>
    <tr>
      <td style="height:35px;">Code</td>
    </tr>
  </table>
  <div style="margin-left: 20px; height:100px;">
    <div style="margin-top: 0px;">这里是侧边上方的文字描述。</div>
    <br>
    <div style="margin-bottom: 0px;">这里是侧边下方的文字描述。</div>
  </div>
</div>